$base-color: #e8e8e8;
$white: #ffffff;
$black: #000000;
$black-shed-1: #1c1c1c;
$slate-gray: #778899;
$gunmetal-gray: #282C34; 
$nevi-blue: #1b2F9F;
$dark-navi-blue: #0D208A;
$brick-red: #B22222;
$venetian-read: #C80815;

// Fonts name
$open-sans : 'Open Sans';
$open-sans-light-Italic : 'Open Sans Light Italic';
$open-sans-regular : 'Open Sans Regular';
$open-sans-italic : 'Open Sans Italic';
$open-sans-semibold : 'Open Sans Semibold';
$open-sans-semibold-italic : 'Open Sans Semibold Italic';
$open-sans-bold : 'Open Sans Bold';
$open-sans-italic : 'Open Sans Italic';
$open-sans-extrabold : 'Open Sans Extrabold';


//
$zero: 0;
$rem-small : 0.8rem;
$rem-1 : 1rem;
$rem-2 : 2rem;
$rem-4 : 4rem;
$persent-100 : 100%; 

$f-600 : 600;